<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-meetups" role="menuitem"><a href="{{site.baseurl}}tag/meetups/">Meetups</a></li>
    <li class="nav-fr" role="menuitem"><a href="https://fr.tezosmtl.com{% if page.permalink_fr %}{{ page.permalink_fr }}{% endif %}">Français</a></li>
</ul>
